*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo{
    border: 1px solid rgb(69, 69, 122);
    background-color: rgb(95, 95, 185);
    border-radius: 10px;
    width: 400px;
    padding: 10px;
}
.input{
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 5px;
    color: rgb(238, 48, 152);
    font-family: monospace;
}
.add{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(94, 255, 0, 0.664);
    background-color: rgb(35, 201, 104);
}
.ul{
    margin-top: 20px;
    margin-right: 50px;
}
.delete{
    margin-left: 20px;
    border: 1px solid red;
    background-color: red;
    color: white;
}
div>h1{
    margin-top: 30px;
}
.maindiv{
    background-color: rgb(84, 84, 179);
    margin-top: 40px;
    width: 400px;
    padding: 10px;
    border: 1px solid rgb(158, 158, 211) ;
}
div>ul>li{
    
    list-style: none;
}